* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    block-size: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Jersey 25", sans-serif;
}

#game-area {
    background-color: black;
    inline-size: 80vw;
    block-size: 80vh;
    position: relative;
}



#info {
    display: flex;
    justify-content: space-between;
    inline-size: 80vw;
    background-color: black;
    color: white;
    font-size: 1.5rem;
    font-weight: 400;
    font-style: normal;
    padding-block: 2rem;
    padding-inline: 2.5rem;
}

#lives ul {
    list-style: none;
    display: flex;
    gap: 0.5rem;
}

#score {
    text-align: right;
}

#player {
    /* background-color: deeppink; */
    block-size: 175px;
    inline-size: 80px;
    position: absolute;
    inset-inline-end: 50%;
    inset-block-end: 0;
    z-index: 3;
}

.hit {
    animation: hit-by-fireball 1s;
}

@keyframes hit-by-fireball {
    0% {
        opacity: 1;
    }
    25%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    75%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.standing-right {
    background-image: url(./images/stand-right.png);
    background-size: cover;
}

.walking-right {
    background-size: cover;
    animation: walk-right 0.3s infinite;
}

@keyframes walk-right {
    0% {
        background-image: url(./images/walk-right.png);
    }

    50% {
        background-image: url(./images/stand-right.png);
    }

    100% {
        background-image: url(./images/walk-right.png);
    }
}

.standing-left {
    background-image: url(./images/stand-left.png);
    background-size: cover;
}

.walking-left {
    background-image: url(./images/walk-left.png);
    background-size: cover;
}

.rose {
    block-size: 40px;
    inline-size: 40px;
    background-image: url(./images/rose.png);
    background-size: cover;
    position: absolute;
    inset-block-start: 0;

}

.points {
    color: #F02F39;
    position: absolute;
    inset-block-start: 200px;
    inset-inline-start: 200px;
    font-size: 1.8rem;
    animation: fade-away 3s;
}

@keyframes fade-away {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.old-points {
    opacity: 0;
}


.fireball {
    background-image: url(./images/flame.png);
    background-size: cover;
    position: absolute;
    inset-inline-end: 0;
    inline-size: 70px;
    block-size: 50px;
}

.game-over {
    color: white;
    font-size: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}